button:focus { outline:none; }
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  background:#f9f9f9;
}


.main{
    text-align:center;
    width:90%;
    overflow:hidden;
    height:auto; /*      Ϸ             ̸   ݵ        */ 
    border: 2px solid #d7d8d7;  /* ׵θ */
    margin:0 auto;  /*                   */
    margin-top:140px;  /*Ʋ          */
    margin-bottom:50px;
    border-radius:5px;  /* 𼭸  ձ۰ */
    padding-top:20px;
    padding-bottom:100px;
    position:relative;
}

#list{
   width:250px;
   margin:0 auto;  /*                   */
   text-align:center;
   margin-top:10px;
   
}

#list .listBold{
   cursor:pointer;
}

a{
   text-decoration:none;
}
#table{
    width:350px;
    height:350px;
    border: 1px solid #efeadc; /*  ׵θ */
    border-radius:10px;
    background:#fff;
    margin-top:40px;
    float:left;
    margin-left:75px;
    display: inline-block;
    background:#fff;
    margin-bottom:40px;
    
}

/*////////////////상단///////////////////*/

#left{
   float:left;
   width:60px;
   height:50px;
   padding-top:6px;
}

#table .writer a img{
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px dashed #c6da9c;
    border-radius: 77%;
    margin-left:10px;
    float:left;
}

ul li{
   list-style:none;
}

.name{ 
   width:140px;
   height:30px;
   text-align:left;
   float: left;
   padding-left:10px;
   padding-top:5px;
   font-size:15px;
   color:#3b3f58; 
   margin-top:10px;
}
.name a{
   text-decoration:none;
   color:#3b3f58;   
}

/*********링크 방문 후*********/
.name a:visited{
   text-decoration:none;
     color:#3b3f58;
}

/*********링크 마우스 오버*********/
.name a:hover{
   text-decoration:none;
   color:#10b27d;
   text-shadow: 0 0 24px;
}

/*///////////상단 날짜 or 시간//////////*/
.r-1{   
   padding-right:15px;
   width:130px;
   height:30px;
   float:right;
   margin-top:5px;
}

.date{
   width:80px;
   height:18px;
   color:#3b3f58;
   font-size:13px;
   text-align:right;
   float:right;
   margin-top:5px;
}

/*공개범위*/
.pNum{
   width:20px;
   height:18px;
   margin-left:5px;
   float:right;
}
.pNum i{
   font-size:13px;
   color:#c5c0c0;
}

/*조회수*/
#viewCnt{
   width:100px;
   height:15px;
   float: right;
   font-size:10px;
   text-align:right;
   margin-top:5px;  
}





/*//////////////////하단////////////*/
#title{  
   width:200px;
   height:40px;
   text-align:left;
   padding-top:15px;
   padding-left:20px;
   font-size:17px;
   flaot:left;
}
#title i{
   font-size:20px;
   color:#86a845;
}

#title a{
   text-decoration:none;
   color:#0000000; 
   margin-left:5px;
}
/*********링크 방문 후*********/
#title a:visited{
   text-decoration:none;
   color:#000000;
}

/*********링크 마우스 오버*********/
#title a:hover{
   text-decoration:none;
   color:#10b27d;
   text-shadow: 0 0 24px;
}

.r-2{  
   margin-top:5px;
   width:100px;
   height:40px;
   float:right;  
}

/*공감수*/
#likeCnt{
   padding-top:4px;
   width:75px;
   height:40px;
   float: right;
   color:#fdb330;
   margin-right:10px; 
   font-size:15px;  
  
}
#likeCnt i{
padding:5px;
background-color:#fff;
color:#fdb330;
border:1px solid #f4f1e8;
border-radius:50px;
box-shadow: 0px 0px 2px 1px  #f4f1e8;
margin-right:5px;
font-size:14px;
}





.downimg{
 display:block;
 width:350px;
 height:250px;
   
}
.downimg img{
float:left;
width:348px;
height:240px;
/*border: 2px solid #dfddc5;*/
 
 }
 
#pagelist{
    width:500px;
    height:50px; 
    position:absolute; 
    bottom:15px;
    padding:10px;  
   margin-left:300px;
  /* border:1px solid #000;*/
}