@charset "UTF-8";
button:focus { outline:none; }

form{
   
   text-align:center;
   margin-top:120px;
   width:100%;
   
}

ul li{
   
   list-style:none;
}
.wrapper
{
   
   background:#fff;
    align-items: center;
    text-align:center;
   width:800px;
   height:450px;
   margin:0 auto;/*form안에 div .wrapper 요소 가운데 오기*/
   padding-top:20px;   
}
.nav{
   width:60px;
    height:150px;
   float:left;
   background:#fff;
   border:none;
   border-right:0;
   
}
.o{
   border-left:6px solid #eee3dd;
   float:right;
   width:50px;
   height:68px;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);;
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   border-top-left-radius:5px;
   border-bottom-left-radius:5px;
   font-size:12px;
   
   
}

.o:hover{
   width:60px;
   font-size:13px;

}
.s{
   float:right;
   border-top-left-radius:5px;
   border-bottom-left-radius:5px;
   width:58px;
   height:70px;
   box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
 /*border-top:2px solid #9dbfaf; 
  border-bottom:2px solid #9dbfaf; 
  */border-left:7px solid #9dbfaf;
  font-size:12px;
   text-decoration:none;
   position:relative;
   top:5px;
   
}
.s a,.o a{
   text-decoration:none;
   color:#9e9e9e;
   
}

.s i{
   color:#408080;
   width:54px;
   margin-top:10px;
   margin-bottom:5px;
   font-size:15px;
   
}
.o i{
   color:#9e9e9e;
   width:50px;
   margin-top:10px;
   margin-bottom:5px;
   font-size:15px;
   
}
/*************메인******************/
.main{
   float:right;
   border:1px solid #efeadc; /*테두리*/
    border-top-right-radius:10px;  /*모서리둥글게*/
    border-bottom-right-radius:10px;  /*모서리둥글게*/
    border-bottom-left-radius:10px;  /*모서리둥글게*/
   box-shadow:5px 5px 2px 2px #efeadc;/*그림자효괴*/
   background:#fff;
    align-items: center;
    text-align:center;
   width:740px;
   height:400px;
   margin:0 auto;/*form안에 div .wrapper 요소 가운데 오기*/
   padding-top:20px;   
}
/***********프로필************/
.f{
   
   width:105px;
   height:92px;/*버튼 위치 전페이지랑 맞추기위해...*/
   margin-left:140px;
   
   
}
/******프로필 이미지*******/
.f #ff {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 3px solid #9dbfaf;
    border-radius: 77%;
    margin:0 auto;  /*페이지의 가운데오게 함*/

    }
/******닉네임**********/
.f #fff{
   width:200px;
  /* border:1px solid #000;*/
   position:relative;
   bottom:20px;
   right:-102px;
   font-size:13px;
   text-align:left;
}


/******문구*********/
#t{
   font-size:10px;
   color:#c0c0c0;
   margin:0 auto;
   text-align:center;
}

/******비밀번호 div*******/
.tt{
   padding-top:10px;
   margin:0 auto;
   /*border:1px solid #000;*/
   height:55px;
   width:700px;
   text-align:left;
   padding-left:160px;
   margin-top:10px;
}


/*******비밀번호 input 창 **********/
.tt  input[type="password"]{
   padding-left:30px;
 background: #f6ee8;
   width:340px;
   height:35px;
   border:none;
   transition:0.35s;/*애니메이션을 주기위에 부모 부터 주기*/
   border-bottom:1px solid #eee3dd;
   border-radius:10px;
}
.tt  input[type="text"]{
   padding-left:30px;
 background: #f6ee8;
   width:395px;
   height:35px;
   border:none;
   transition:0.35s;/*애니메이션을 주기위에 부모 부터 주기*/
   border-bottom:1px solid #eee3dd;
   border-radius:10px;
}

.tt  input[type="password"]:focus,
.tt  input[type="text"]:focus{
   background: #fbf5f2;
}


.tt{
   font-size:15px;
}
.tt i{
    margin:5px;
   color:#3d5bb6;
}
/******이전 확인 버튼******/
.low{
   width:300px;
   height:65px;
  
   text-align:center;
   display:inline-block;
   padding:10px;
   -webkit-transition: 0.25s;

}
button{
    transition: 0.25s;
}
.low button{
    width:70px;
   height:40px;
   border:none;
   background-color:#f8f8f8;
   border-bottom: 5px solid #eee;
   color:#000;
   -webkit-transition: 0.25s;

}
   
.low button:hover{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
   border-bottom: 1px solid #eee;
   cursor:pointer;
   -webkit-transition: 0.25s;
   
   

}
.back{
   margin-left:30px;
}
.next{
   margin-right:30px;
}