@charset "UTF-8";
/*/////////////헤더/////////////*/
#header {
  background: #1CDD9E;
  font-color:#fff; 
  width: 100%;/*헤더 가로*/
  height:100px; /*헤더 높이*/
  /*상단 고정*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:10;
}
/*////////////////////////////*/



/*///////////로고//////////////*/
.logo {
  float: left;/*왼쪽 정렬*/
  padding: 30px 0 20px;/*로고 위치*/
}
.logo a {
  color: #fff;
  font-size: 28px;
  display: block;
  padding: 0 0 0 20px;
  text-decoration: none; /*텍스트 밑줄 제거*/
}
/*///////////////////////////*/


/*///////////////검색창/////////////////*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #10b27d;
  border-right: none;
  padding: 10px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #000000;/*검색내용텍스트색*/
}

.searchButton {
  width: 60px;
  padding: 10px;
  height: 50px;
  border: 1px solid #10b27d;
  background: #10b27d;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*///////////////////////////////*/







body{
   background:#f9f9f9;
}



/*///////////회원가입 폼////////////*/
form{
   display: block;
   border:1px solid #f8f8f8;
   border-radius:10px;
   text-align:left;
   margin-top:30px;/*헤더와 멀게 하기위해*/
   width:100%;
   
}

.register{
   
   border-radius:10px;
   width:1000px;
   height:550px;
   text-align:center;
   margin:0 auto;
   -webkit-box-shadow: 10px 10px 2px -4px#f8f8f8;
    -moz-box-shadow: 10px 10px 2px -4px #f8f8f8;
    box-shadow: 10px 10px 2px -4px #f8f8f8;
    background:#fff;
}




/*/////////TOP 수정////////////*/
.top{
   text-align:center;
   font-weight:bold;
   padding:4px;
   
   
}

p{
   font-size:25px;
   color:#4c4c4c;
   text-align:center;
   font-weight:bold;
   
   
   
}




/*//////////가운데/////////*/
.middle{
   width:800px;;
   margin-top:4px ;
   height:330px;
   text-align:center;
   display:inline-block;
  
   
}


.info{
   
   background: #f6ee8;
   border-radius:3px;
   width:500px;
   height:50px;
   text-align:center;
   display:inline-block;
   margin:13px;
   
   
      
   
}

.middle input[type="text"],
.middle input[type="password"],
.middle input[type="email"]{
   
   background: #f6ee8;
   width:360px;
   height:46px;
   border:none;
   transition:0.35s;/*애니메이션을 주기위에 부모 부터 주기*/
   border-bottom:1px solid #eee3dd;
   border-radius:10px;
}



.middle input[type="text"]:focus,
.middle input[type="password"]:focus,
.middle input[type="email"]:focus{
   
   background: #fbf5f2;
   width:400px;
   border:none;
   
   border-radius: 10px;
   -webkit-box-shadow: 10px 10px 1px -4px #f8f1ed;
    -moz-box-shadow: 10px 10px 1px -4px #f8f1ed;
     box-shadow: 11px 10px 1px -4px #f8f1ed;

}
   
}






/*//////// 아이콘들  ///////////*/

#icon{
   text-align:center;
}
/*//////// 아이콘들  ///////////*/
.middle i{
   
   color:#3d5bb6;
   display: inline-block;
   text-align:center;
   padding-right:5px;


}


/*/////////////////////////////*/



/*//////// 버튼  ///////////*/
.low{
   width:300px;
   height:65px;
   margin-top:30px;
   text-align:center;
   display:inline-block;
   color:#ff3547;
   padding:10px;

}

.low button{
   color:#000;
   border:1px solid #008040;
   border-radius:30px;
   background:#fff;
   width:100px;
   height:50px;
   font-size:16px;
   font-weight:bold;
   transition:0.27s;
   padding:10px;
   

}
   
.low button:hover{
   color:#fff;
   border:none;
   border-radius:30px;
   background:#10b27d;
    box-shadow: 0 0 0 0.2rem #79bd9a;
   
   

}
.back{
   margin-left:30px;
}
.next{
   margin-right:30px;
}
.pg{
   text-align:center;
   
   
   
}
/*progress이미지*/
img{
   width:480px;
   height:25px;
   margin-top:120px;
   display:inline-block;
   
}

div.main{
    position: relative;
    padding: 20px;
}
div.main input{
    width: 300px;
    height: 30px;
    background-color: black;
    border: 0;
    color: white;
    text-indent: 10px;
}

/* 비밀번호 보이기/숨기기 아이콘 */
div.main i {
	
}