@charset "UTF-8";@charset "UTF-8";


body{
   background:#f9f9f9;
}



/*///////////회원가입 폼////////////*/
form{
   display: block;
   border:1px solid #f8f8f8;
   border-radius:10px;
   text-align:center;
   margin-top:30px;/*헤더와 멀게 하기위해*/
   width:100%;
   
   
}

.register{
   
   border-radius:10px;
   width:1000px;
   height:500px;
   text-align:center;
   margin:0 auto;
   -webkit-box-shadow: 10px 10px 2px -4px#f8f8f8;
    -moz-box-shadow: 10px 10px 2px -4px #f8f8f8;
    box-shadow: 10px 10px 2px -4px #f8f8f8;
    background:#fff;
   
}




/*/////////TOP 수정////////////*/
.top{
   text-align:center;
   font-weight:bold;
   padding:4px;
   
   
}

p{
   font-size:25px;
   color:#4c4c4c;
   text-align:center;
   font-weight:bold;
   
   
   
}




/*//////////가운데/////////*/
.middle{
   width:800px;;
   margin-top:4px ;
   height:270px;
   text-align:center;
   display:inline-block;
  
}

.finish img{
   width:170px;
   height:170px;
   margin-top:20px;
}
.finish p{
   font-weight:bold;
   font-size:20px;
}





/*//////// 아이콘들  ///////////*/



/*/////////////////////////////*/



/*//////// 버튼  ///////////*/
.low{

   width:300px;
   height:65px;
   margin-top:30px;
   text-align:center;
   display:inline-block;
   padding:10px;
}

button{
    transition: 0.25s;
}
.low button{
    width:130px;
   height:50px;
   border:none;
   background-color:#f9f7f2;
   border-bottom: 5px solid #eee9d9;
   text-shadow: 0px -2px #eee9d9;
   color:#000;
   -webkit-transition: 0.25s;
   

}
   
.low button:hover{
   transform: translate(0px,5px);
   -webkit-transform: translate(0px,5px);
   border-bottom: 1px solid #eee9d9;
   cursor:pointer;
   
   

}
.pg{
   text-align:center;
   
   
   
}
/*progress이미지*/
img{
   width:480px;
   height:25px;
   margin-top:120px;
   display:inline-block;
   
   
}